<nav id="sidebar" class="sidebar-section">
  <div class="p-4">
    <h3>ARESS</h3>
    <ul class="list-unstyled components side-menu">
      <li>
        <a [routerLink]='["home"]'> <i class="fa fa-home"></i> Home</a>
      </li>
      <li>
        <a [routerLink]="['employee-shift']"><i class="fa fa-users"></i> Employees</a>
      </li>
      <li>
        <a [routerLink]="['booking']"><i class="fa fa-users"></i> Booking</a>
      </li>
      <li>
        <a [routerLink]="['profile']"><i class="fa fa-users"></i>My Profile</a>
      </li>
    </ul>
  </div>
</nav>