<div class="container">
  <div class="row justify-content-center mt-3">
    <h2 class="text-center text-success">Guest Registration</h2>
    <hr />
    <div class="col-md-6 col-12">
      <div class="card shadow p-4">
        <form [formGroup]="registrationForm">
          <div class="row">
            <div class="form-group col-md-6 mb-2">
              <div class="form-floating">
                <input
                  type="text"
                  class="form-control"
                  id="firstName"
                  formControlName="firstName"
                  required
                  placeholder="Enter first name"
                />
                <label for="firstName">First Name</label>
              </div>
              <div>
                <small
                  class="text-danger"
                  *ngIf="
                    registrationForm.get('firstName')?.hasError('required') &&
                    registrationForm.get('firstName')?.touched
                  "
                >
                  First Name is required
                </small>
              </div>
            </div>

            <div class="form-group col-md-6 mb-2">
              <div class="form-floating">
                <input
                  type="text"
                  class="form-control"
                  id="lastName"
                  formControlName="lastName"
                  placeholder="Enter last name"
                  required
                />
                <label for="lastName">Last Name</label>
              </div>
              <div>
                <small
                  class="text-danger"
                  *ngIf="
                    registrationForm.get('lastName')?.hasError('required') &&
                    registrationForm.get('lastName')?.touched
                  "
                >
                  Last Name is required
                </small>
              </div>
            </div>

            <div class="form-group mb-2">
              <div class="form-floating">
                <input
                  type="email"
                  class="form-control"
                  id="email"
                  formControlName="email"
                  placeholder="Enter email"
                  required
                />
                <label for="email">Email</label>
              </div>
              <div>
                <small
                  class="text-danger"
                  *ngIf="
                    registrationForm.get('email')?.hasError('required') &&
                    registrationForm.get('email')?.touched
                  "
                >
                  Email is required
                </small>
                <small
                  class="text-danger"
                  *ngIf="
                    registrationForm.get('email')?.hasError('email') &&
                    registrationForm.get('email')?.touched
                  "
                >
                  Please provide a valid email address
                </small>
              </div>
            </div>

            <div class="form-group mb-2">
              <div class="form-floating">
                <input
                  type="tel"
                  class="form-control"
                  id="phone"
                  formControlName="phone"
                  placeholder="Enter phone"
                  required
                />
                <label for="phone">Phone</label>
              </div>
              <div>
                <small
                  class="text-danger"
                  *ngIf="
                    registrationForm.get('phone')?.hasError('required') &&
                    registrationForm.get('phone')?.touched
                  "
                >
                  Phone is required
                </small>
              </div>
            </div>

            <div class="form-group mb-2">
              <label>Gender</label>
              <div class="d-flex">
                <div class="form-check me-2">
                  <input
                    type="radio"
                    class="form-check-input"
                    id="male"
                    value="male"
                    formControlName="gender"
                    required
                  />
                  <label class="form-check-label" for="male">Male</label>
                </div>

                <div class="form-check">
                  <input
                    type="radio"
                    class="form-check-input"
                    id="female"
                    value="female"
                    formControlName="gender"
                    required
                  />
                  <label class="form-check-label" for="female">Female</label>
                </div>
              </div>
              <div>
                <small
                  class="text-danger"
                  *ngIf="
                    registrationForm.get('gender')?.hasError('required') &&
                    registrationForm.get('gender')?.touched
                  "
                >
                  Gender is required
                </small>
              </div>
            </div>

            <div class="form-group mb-2">
              <div class="form-floating">
                <input
                  type="password"
                  class="form-control"
                  id="password"
                  formControlName="password"
                  placeholder="Enter password"
                  required
                />
                <label for="password">Password</label>
              </div>
              <div>
                <small
                  class="text-danger"
                  *ngIf="
                    registrationForm.get('password')?.hasError('required') &&
                    registrationForm.get('password')?.touched
                  "
                >
                  Password is required
                </small>
              </div>
            </div>

            <div class="form-group mb-2">
              <div class="form-floating">
                <input
                  type="password"
                  class="form-control"
                  id="confirmPassword"
                  formControlName="confirmPassword"
                  placeholder="Enter confirm password"
                  required
                />
                <label for="confirmPassword">Confirm Password</label>
              </div>
              <div>
                <small
                  class="text-danger"
                  *ngIf="
                    registrationForm
                      .get('confirmPassword')
                      ?.hasError('required') &&
                    registrationForm.get('confirmPassword')?.touched
                  "
                >
                  Confirm Password is required
                </small>
                <small
                  class="text-danger"
                  *ngIf="
                    registrationForm
                      .get('confirmPassword')
                      ?.hasError('passwordMismatch') &&
                    registrationForm.get('confirmPassword')?.touched
                  "
                >
                  Passwords do not match.
                </small>
              </div>
            </div>
          </div>
          <div class="text-center">
            <button class="btn btn-outline-primary mt-4" (click)="onSubmit()">
              Register
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
